/*==========================
  BASE ELEMENTS
===========================*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color: lightblue;
  color: #666;
  text-align: center;
}
.about {
  padding: 10px;
}

h1 {
  color: #555;
  margin: 0;
}

a {
  font-weight: bold;
  color: navy;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #aaa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}




/*==========================
 LAYOUT
===========================*/

.name {
  color: rgb(10, 67, 151);
}

.main-header {
  margin: 0;
  padding: 0;
}

.skills-content {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  background-color: white;
}

footer {
  border-top: 1px solid #aaa;
  padding: 10px;
  margin: 5px;
}

#contact,
#portfolio,
#skills,
.port-pg {
  font-family: 'Oswald';
  text-align: center;
  text-transform: uppercase;
}

.main-body {
  padding: 10px 15px;
  margin: 0;
  background-color: lightgrey;
}

.content p {
 padding-bottom: 30px;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*==========================
  MEDIA QUERIES
===========================*/

/* ----------mobile------------ */

  .portfolio-pic {
    width: 100%;
  }

  .content {
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav li {
    background-color: #fff;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 10px;
  }

  .profile-img {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .contact {
    margin: 0;
    padding: 0;
  }

  .name {
    text-align: center;
  }

  .main-footer {
    margin: 0;
    padding: 20px;
  }

  .main-footer p {
    display: inline;
    margin-right: 40%;
  }

  .bottom-nav {
    display: none;
  }

/* --------768px---------- */

@media (min-width:768px) {

  .container {
  width: 100%;
  text-align: center;
  }

  .nav li {
    background-color: transparent;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 10px;
  }

  .about {
    text-align: left;
    width: 50%;
    display: inline-block;
    float: left;
  }

  .profile-img {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 10px;
    float: right;
  }

  .portfolio-pic {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .content {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      padding: 0;
      margin: 0;
  }

  .main-footer {
    padding: 30px;
    margin: 0;
  }

  .main-footer p {
    display: inline;
    margin-right: 40%;
  }

  .bottom-nav {
    display: inline-block;
    padding: 0;
    margin: 0
    }

  .bottom-nav li {
    display: inline-block;
    padding: 0px;
    margin-right: 10px;
  }

  .back {
    display: none;
  }
}

/* ----------1064------------ */

@media (min-width:1024px) {


  .main-header {
 margin: 0;
 padding: 30px 10px;

  }

  .name {
    display: inline-block;
    margin: 0 30% 0 0;
  }

  .nav {
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }

  .nav li {
  background-color: transparent;
  display: inline-block;
  padding-right: 10px;
  margin: 0;
}

  .container {
  width: 1024px;
  text-align: center;
  margin: auto;
  }

  .about {
    width: 50%;
    display: inline-block;
    float: left;
  }

  .profile-img {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    float: right;
  }

  .portfolio-pic {
    width: 100%;
    margin: 0px;
    padding: 0px 5px;
  }

  .content {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      padding: 0;
      margin: 0;
  }

  .back {
    display: none;
  }

  .main-footer {
    padding: 30px;
    margin: 0;
  }

  .main-footer p {
    display: inline;
    margin-right: 40%;
  }

  .bottom-nav {
    display: inline-block;
    padding: 0px;
    margin: 0px
    }

  .bottom-nav li {
    display: inline-block;
    padding: 0px;
    margin-right: 10px;
  }

}
